.ipynb_checkpoints

src/inventory/aws_ec2.yml

doespy/docs/build

### Ansible ###
*.retry
.boto

# Python
Pipfile.lock

*.pyc

# MacOS
.DS_Store


.vscode/targets.log
.vscode/pinned-files.json
.vscode/configurationCache.log
.vscode/dryrun.log
