[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = ">=2.11"
boto3 = "*"
boto = "*"
numpy = "*"
jupyterlab = "*"
pandas = "*"
pyyaml = "*"
jinja2 = "*"
pyinputplus = "*"

[requires]
python_version = "3.8"
