---
plugin: aws_ec2
regions:
  - eu-central-1
filters:
  instance-state-name: ["running"]
  tag:Prj: <<prj_id>> # TODO: set to the project ID from group_vars/all/main.yml

# keyed_groups may be used to create custom groups
strict: False
keyed_groups:
# Add hosts to tag_Name_value groups for each Name/Value tag pair
  - prefix: tag
    key: tags
