---

# This role is always executed an ensures that the task spooler is installed and the code repository is downloaded.

- debug:
    msg: "-> setup suite"
  tags: [print_action]

#- name: Overwrite euler-specific variables
#  set_fact:
#    remote:
#      dir: "/cluster/home/{{ euler_user }}"
#      results_dir: "/cluster/home/{{ euler_user }}/results"
#
#- name: Debug check
#  debug:
#    msg: "{{ exp_code_dir }}"


- name: Update Code from Git remote repository
  git:
    repo: "{{ git_remote_repository }}"
    dest: "{{ remote.dir }}/code"
    accept_hostkey: yes
    force: yes

  # TODO [nku] transform such that we can clone a list of repositories

