---

- debug:
    msg: "-> common"
  tags: [print_action]

- name: Update repositories cache and install required packages
  become: True
  apt:
    pkg:
    - task-spooler
    - python3-pip
    - python3.8
    # TODO: add other required packages (for both client and server)
    update_cache: yes

- name: Install pipenv
  become: true
  pip:
    name: pipenv
    executable: pip3



# Use ssh-agent to get code from Git Remote Repository:
#
# 1. Configure ~/.ssh/config:  (add to file and replace the key for example with aws_ppl.pem)
#    ```
#    Host ec2*
#    IdentifyFile ~/.ssh/{{ exp_base.key_name }}
#    ForwardAgent yes
#    ```
#
# 2. Add the GitHub private key to ssh-agent:
#
#   ssh-aadd ~/.ssh/private_key_rsa
#
# 3. (On a MAC, need add to keychain)
- name: Update Code from Git remote repository
  git:
    repo: "{{ git_remote_repository }}"
    dest: "{{ remote.dir }}/code"
    accept_hostkey: yes
    force: yes


- name: Setup a venv folder
  file:
    path: "{{ remote.dir }}/code/.venv"
    state: directory
    mode: 0755

# XXX: This task is very slow at the moment
- name: install dependencies via pipenv
  command: pipenv install
  args:
    chdir: "{{ remote.dir }}/code"
  environment:
    LC_ALL: "C.UTF-8"
    LANG: "C.UTF-8"
