---

instance_type: <<instance_type>> # TODO: choose server instance type
ec2_volume_size: <<volume_size>> # TODO: choose server volume size

ec2_image: <<ec2_image>>
ec2_volume_snapshot: snap-0ccde4e83b88fdd69
