---

- assert:
    that:
    - exp_working_dir is defined
    - exp_code_dir is defined
    - exp_run_config is defined
    - running_job_id is defined


##########################################################################
#   Setup Service Unit Files                                             #
##########################################################################

- name: Provide connection information
  set_fact:
    host_ips: "{{ host_ips \
                  | default({}) \
                  | combine({ \
                    item_group_name: [item_ip] \
                  }, recursive=True) \
               }}"
  vars:
    item_group_name: "{{ hostvars[host].host_group_name }}"
    item_ip: "{{ hostvars[host].private_ip_address }}"
  loop: "{{ exp_hosts }}"
  loop_control:
    loop_var: host

- name: "Create unit file for servers for experiment '{{ exp_name }}'"
  become: yes
  template:
    src: "{{ hostvars[host].host_group_name }}.service.j2"
    dest: "/lib/systemd/system/{{ hostvars[host].host_group_name_long }}.service"
    mode: 644
  delegate_to: "{{ host }}"
  loop: "{{ exp_hosts }}"
  loop_control:
    loop_var: host

- name: Create config file
  template:
    src: config.json.j2
    dest: "{{ hostvars[host].exp_working_dir }}/config.json"
    mode: 0755
  delegate_to: "{{ host }}"
  loop: "{{ exp_hosts }}"
  loop_control:
    loop_var: host

- name: reload and restart service
  become: yes
  delegate_to: "{{ host }}"
  systemd:
    state: restarted
    daemon_reload: yes
    name: "{{ hostvars[host].host_group_name_long }}"
  loop: "{{ exp_hosts }}"
  loop_control:
    loop_var: host

##########################################################################
#   Starting the Experiment                                              #
##########################################################################

# TODO: the client must be robust against a not-available server, there is no sleep
# in between the roles anymore.
- name: Start services
  become: yes
  delegate_to: "{{ host }}"

  service:
    name: "{{ hostvars[host].host_group_name_long }}.service"
    state: restarted
    enabled: yes
  loop: "{{ exp_hosts }}"
  loop_control:
    loop_var: host
