---

#
# Experiment status checking
#

- name: Check the job status (set `check_status` in the experiment config YAML to false to skip a host type)
  include_tasks:
    file: get_status.yml
  # there are some unfinished jobs left
  when: (exp_fact.exp_job_ids_unfinished | length) > 0 and host_facts.check_status

#
# Experiment result gathering
#

- name: Set result directory path
  set_fact:
    remote_results_dir: "{{ exp_working_dir }}/results"
    local_results_dir: "results/{{ exp_suite }}_{{ exp_suite_id }}/{{ exp_name }}/\
                        run_{{ exp_run }}/rep_{{ exp_run_rep }}"

# Create local directory and fetch results
- name: Fetch the results
  include_tasks:
    file: fetch_results.yml
  loop: "{{ range(0, (exp_hosts | length), 1) | list }}"
  loop_control:
    loop_var: host_idx

- name: Save the config of the job
  delegate_to: localhost
  local_action: "command rsync -az '{{ inventory_hostname }}:{{ exp_working_dir }}/config.json' '{{ local_results_dir }}'"

#
# Update experiment state
#
- name: "Update the job IDs list (remove experiment job {{ running_job_id }} from running)"
  set_fact:
    exp_runs_ext: "{{ exp_fact.exp_runs_ext }}"
    exp_job_ids: "{{ exp_fact.exp_job_ids }}"
    exp_job_ids_unfinished: "{{ exp_fact.exp_job_ids_pending }}"
    exp_job_ids_pending: "{{ exp_fact.exp_job_ids_pending }}"
    exp_job_ids_running: []

- name: Save the updated state of the experiment run (save job ids)
  include_role:
    name: experiment-state
  vars:
    expstate: save

#
# Run next job
#
- name: Run the next job
  include_role:
    name: experiment-job
  when: exp_job_ids_unfinished | length > 0
