---

- name: Collect info about running ec2 instances
  community.aws.ec2_instance_info:
      region: "{{ exp_base.aws_region }}"
      filters:
        "tag:name": "{{ ansible_controller }}"
  register: ec2_instance_info

# TODO: remove
- debug:
    msg: "ec2_instance_info: {{ ec2_instance_info }}"

- name: Extract instance ids of ec2 instances to remove
  ansible.builtin.set_fact:
    ec2_instance_ids: "{{ ec2_instance_info | json_query('*.instances[*].instance_id') | list | flatten }}"

# TODO: remove
- debug:
    msg: "ec2_instance_ids: {{ ec2_instance_ids }}"

- ansible.builtin.pause:
    seconds: 10
    prompt: |
      "Removing instances with the following ids:
       {{ ec2_instance_ids }}

       If the above instance IDs are wrong, abort now! (CTRL+C followed by 'A')"
  tags: [print_action]

- name: Cleanup AWS
  community.aws.ec2_instance:
    instance_ids: "{{ ec2_instance_ids }}"
    region: "{{ exp_base.aws_region }}"
    state: absent
  when: (ec2_instance_ids | length) > 0

- name: Remove AWS VPC
  ansible.builtin.include_role:
    name: suite-cloud-vpc-delete
    tasks_from: aws
